
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
#header-left{
  float:left;
  width:100%;
}
#header-right{
  float:right;
  
}
